@use 'sass:color';
@use './variables' as *;

#newsletter {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    background-color: $color-secondary-current; // Light background
    border-radius: 12px;
    transition: background-color 0.3s ease; // Smooth transition for dark mode

    /* <<Left Section>> */
    .newsletter-left {
        display: flex;
        align-items: center;

        .notification-icon {
            width: 45px;
            height: 45px;
            margin-right: 15px;
        }

        p {
            font-size: 1.25rem;
            font-weight: 600;
            line-height: 1.5;
            color: $color-text-current; // Default text color
        }
    }

    /* <<Right Section>> */
    .newsletter-right {
        .newsletter-form {
            display: flex;
            align-items: center;

            input[type="email"] {
                padding: 15px 50px 15px 45px;
                border: 1px solid $color-border-current;
                border-radius: 8px 0 0 8px;
                font-size: 1rem;
                outline: none;
                transition: border-color 0.3s ease;
                color: $color-muted-text-current;
                background-color: $color-background-current;

                &::placeholder {
                    color: $color-muted-text-current;
                }

                &:focus {
                    border-color: $color-primary;
                }
            }

            button {
                padding: 15px 40px;
                background-color: $color-primary;
                color: $color-white;
                border: none;
                border-radius: 0 8px 8px 0;
                font-size: 1rem;
                font-weight: 600;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: color.adjust($color-primary, $lightness: -10%);
                }
            }
        }
    }

    /* Dark mode styles */
    [data-theme="dark"] & {
        background-color: $color-dark-background; // Apply dark background for dark mode
        .newsletter-left p {
            color: $color-white; // Lighten text color in dark mode
        }
        .newsletter-right {
            .newsletter-form input[type="email"],
            .newsletter-right button {
                background-color: $color-dark-background; // Darken the form inputs in dark mode
                color: $color-white; // Lighten text inside the form fields
            }

            .newsletter-form input[type="email"] {
                border: 1px solid $color-white; // Light border for input fields
            }

            .newsletter-form button {
                background-color: $color-primary-dark; // Darken button in dark mode
            }
        }
    }

    /* Responsive design */
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;

        .newsletter-left {
            margin-bottom: 20px;
        }

        .newsletter-right {
            width: 100%;

            .newsletter-form {
                width: 100%;
                flex-direction: column;

                input[type="email"] {
                    width: 100%;
                    border-radius: 8px;
                    margin-bottom: 10px;
                    padding: 15px 15px;
                    background-position: 15px center;
                }

                button {
                    width: 100%;
                    border-radius: 8px;
                }
            }
        }
    }
}
